@charset "UTF-8";

 * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        img {
            width: 100vw;
        }

        a {
            display: block;
            padding: 20px;
            margin-top: -5px;
            background-color: darkred;
            color: white;
            text-align: center;
            text-decoration: none;
            font-weight: bolder;
        }

        a:hover {
            background-color: rgb(206, 71, 71);
        }