@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat center center fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') center center no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22.5px;
    width: 266px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.436);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.611);
    transition: transform 0.3s;
}